@use "./tiptap.scss";
@use "./ck_editor.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

// WARNA PERTAMINA
// 32599c
// da251c
// 85c226
@layer base {
  :root {
    // background
    --background: 0 0% 100%;
    // --background: 218 51.5% 64%; /* Merah Pertamina untuk latar belakang terang */
    // --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    // --primary: 240 10% 3.9%;
    // --primary-foreground: 210 40% 98%;

    // --secondary: 210 40% 96.1%;
    --secondary-foreground: 240 10% 3.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 240 10% 3.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 240 10% 3.9%;

    --radius: 0rem;

    // toastify
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #12372a;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #a0153e;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--primary);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;

    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;

    //Used only for colored theme
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;

    // Used when no type is provided
    // toast("**hello**")
    --toastify-color-progress-light: linear-gradient(
      to right,
      #4ccd99,
      #5ac8fa,
      #007aff,
      #34aadc,
      #5856d6,
      #ff2d55
    );
    // Used when no type is provided
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --toastify-toast-bd-radius: var(--radius);

    // used to control the opacity of the progress trail
    --toastify-color-progress-bgo: 0.2;
  }

  .dark {
    // --background: 0, 0%, 10%; // before update
    // --background: 3 77.2% 13%; //red
    --background: 218 51.5% 13%; //blue
    // --background: 100 43% 10%; //green
    --foreground: 210 40% 98%; // warna text

    --card: 0, 0%, 10%;
    // --card: 218 51.5% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 0, 0%, 10%; // warna untuk profile dropdown
    // --popover: 218 51.5% 13%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%; // warna primari untuk tombol backto home dan hr
    --primary-foreground: 0, 0%, 10%;

    // --secondary: 240 3.7% 15.9%;
    --secondary: 120 60% 40%; /* Hijau untuk tombol + dan titik 3 */
    --secondary-foreground: 210 40% 98%; // warna textnya

    // --muted: 240 3.7% 15.9%;
    --muted: 120 60% 40%; /* Hijau untuk tombol information vision, dll di halaman aboutManagement/aboutProfile*/
    --muted-foreground: 215 20.2% 25.1%; //tombol secondarynya

    // --accent: 240 3.7% 15.9%;
    --accent: 120 60% 40%; // untuk tombol sidebarnya ( hijau )
    --accent-foreground: 210 40% 98%; // warna text waktu di hover

    // --destructive: 0 62.8% 30.6%;
    --destructive: 0 60% 40%; // tombol remove dan delete ( red )
    --destructive-foreground: 210 40% 98%; // warna textnya

    // --border: 240 3.7% 15.9%;
    --border: 218 51.5% 23%; // border biru
    // --input: 240 3.7% 15.9%;
    --input: 218 51.5% 23%; // boder biru untuk input
    --ring: 212.7 26.8% 83.9%; //page business category edit
  }
}

@layer components {
  .title-1 {
    @apply text-3xl md:text-4xl xl:text-6xl font-semibold;
  }
  .title-2 {
    @apply text-2xl md:text-3xl xl:text-5xl font-semibold;
  }
  .title-3 {
    @apply text-xl md:text-2xl xl:text-4xl font-semibold;
  }
  .title-4 {
    @apply text-base md:text-lg xl:text-2xl font-semibold;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-size: 14px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e2e4;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

.scrollbar-sm {
  &::-webkit-scrollbar {
    width: 2px;
  }
}

.table-two-column {
  tr {
    td:nth-child(1) {
      width: 100%;
    }
    td:nth-child(2) {
      width: fit-content;
      min-width: 170px;
    }
  }
}

label {
  font-weight: 400 !important;
  font-size: 13px !important;
}
