.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

@layer components {
  .title-1 {
    @apply text-3xl md:text-4xl lg:text-6xl font-semibold;
  }
  .title-2 {
    @apply text-2xl md:text-3xl lg:text-5xl font-semibold;
  }
  .title-3 {
    @apply text-xl md:text-2xl lg:text-4xl font-semibold;
  }
  .title-4 {
    @apply text-base md:text-lg lg:text-2xl font-semibold;
  }
}
